<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <h1>This is Add Comment page</h1>
</body>
</html>