<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            background-color:aqua;
        }
    </style>
</head>
<body>
    <h1>This is contact page</h1>
</body>
</html>